body {
  color: rgb(204, 0, 153);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:rgb(119, 205, 255);
}

main page {
  color: rgb(204, 0, 153);
}

img {
  height: 50px;
}